:root {
  /* виношу кольори*/
  --had-color: ;
  --hh-menu-color: #2E2F42;
  --phone-paragraf-color: #434455;
  --hero-fut-color: #2E2F42;
  --hero-text-color: #FFFFFF
  --button-color: #4D5AE5;
  --text-fut-color: #F4F4FD;
  }
body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--hh-color);
  text-align: center;
}
.logo-Raleway {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: 0.03em;
}
/* ol, ul { list-style: none; } */
.p-col {
  color: var(--phone-paragraf-color);
}
.web-blue {
  color: var(--button-color);
}
.zero {
  text-decoration: none;
  list-style: none;
  font-style: normal;
}
.text-index {
  /* Effective Solutions for Your Business */
  
  
    /* position: absolute;
    width: 496px;
    height: 120px;
    left: 472px;
    top: 260px; */
  
    /* Header 1 */
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    /* or 107% */
  
    text-align: center;
    letter-spacing: 0.02em;
  
    /* WHITE */
  
    color:#FFFFFF;
 
}
.hero-index {
  background: var(--hero-fut-color);
  
}

.activ-button:hover,
.activ-button:focus {
  color: var(--had-color);
}
.text-navi {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.text-foot {
  color: var(--text-fut-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  height: 72px;
  width: 264px;
  left: 156px;
  top: 2420px;
  border-radius: 0px;
}
.hero-button {
  /* position: absolute; */
  width: 216px;
  height: 50px;
  left: 692px;
  top: 430px;
  background: var(--had-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: var(--text-fut-color);
}
footer {
  text-align: left;
  text-decoration-color: var(--text-fut-color);
  background: var(--hero-fut-color);
}
.text-white {
  color: var(--text-fut-color);
}
.text-white-m {
  color: var(--text-fut-mailphone-color);
}
